COMPOSE_PROJECT_NAME=testradio
TX5DR_UPSTREAM_REPOSITORY=https://github.com/boybook/tx-5dr.git
TX5DR_UPSTREAM_COMMIT=f9e07fec6c5fb67b5c904936b5df03c1e3b0f5dc
TX5DR_IMAGE=testradio/tx5dr:f9e07fe
TX5DR_HTTP_PORT=8076
TX5DR_HTTPS_PORT=8443
TX5DR_REALTIME_UDP_PORT=50110
TX5DR_RIGCTLD_BRIDGE_PORT=4532
TX5DR_DUMMY_CALLSIGN=N0CALL
TX5DR_DUMMY_GRID=AA00
